## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipseOLD
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/lib

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

*Thumbs.db
JACB1.8*
JACB1.9*
JACB1.8_Client.launch
JACB1.8_Server.launch
JACB1.9_Client.launch
JACB1.9_Server.launch