## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/eclipseOLD
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/lib

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

*Thumbs.db
JACB1.8*
JACB1.9*
*.launch