## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipseOLD
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/lib

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

*Thumbs.db